
.registerDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    color: white;

    height: 85vh;
    width: 100vw;

    background-color: #454545;
}

.registerButtonDesign {

    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3em;
    width: 8em;

    background-color: orange;
    cursor: pointer;

    font-weight: bold;
    color: #000000;

    border-radius: 1em;

    transition: 0.3s;
}

.registerButtonDesign:hover {

    transition: 0.3s;

    background-color: darkorange;
}